# ========================
# Java / Maven
# ========================
target/
*.class
*.jar
*.war
*.ear

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws
*.ipr

# ========================
# Logs
# ========================
*.log

# ========================
# Sistema Operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# Variáveis locais
# ========================
.env
application-local.yml
application-local.properties
