version: '3.8'

services:
  # =========================
  # PostgreSQL
  # =========================
  postgres:
    image: postgres:16-alpine
    container_name: artistas-postgres-dev
    environment:
      POSTGRES_DB: artistas_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d artistas_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
        - artistas-network

  # =========================
  # MinIO
  # =========================
  minio:
    image: minio/minio:latest
    container_name: artistas-minio-dev
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"  #API
      - "9001:9001"  #Console web
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - artistas-network

volumes:
  postgres_data:
    driver: local
  minio_data:
    driver: local

networks:
  artistas-network:
    driver: bridge